.sidebarOptions {
  flex: 0 0 50px;
  @apply flex h-full flex-col;
}

.option {
  @apply w-full cursor-pointer;
}

.optionSelected {
  @apply border-l-2 border-white;
}

.icon {
  font-size: 1.5rem !important;
  @apply w-full py-3 px-1;
}

.icon::before {
  @apply mx-auto;
}

.sidebarContents {
  background-color: #16191d;
  @apply h-full;
}

.filesContainer {
  background-color: #1f2428;
}

.file:not(:first-child) {
  @apply mt-1;
}
